
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
body {
  background-image: url("../img/wallpaper-688038.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#canvas {
  display:block;
  margin:auto;
  border:rgb(114, 12, 12) 4px solid;
  border-radius: 10px;
  margin-left: 400px;
  margin-top: 50px;
  /* position: center; */
  max-width: 100%;
  padding: 25px;
  max-height: 100%;
  background: rgba(228, 212, 212, 0.6);
}

.grid{
text-align: center;
font-family: Inconsolata;
border: rgb(114, 12, 12) 4px solid;
border-radius: 10px;
max-width: 20%;
margin-left: 400px;
margin-top: 10px;
background: rgba(228, 212, 212, 0.6);
}

.grid h1{
  font-size: 72px;
}

.grid p{
  font-size: 36px;
}

.result{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.score{
  margin-right: 1500px;
  margin-top: 600px;

  margin-bottom: 400px;
  font-size: 48px;
 max-width:fit-content;
  font-family: Inconsolata;
  font-weight: bold;
  border:rgb(114, 12, 12) 4px solid;
  max-width: 20%;
  max-height: 70vh;
  padding: 25px;
  border-radius: 10px;
  background: rgba(228, 212, 212, 0.6);
  
}



