@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Inconsolata:wght@500&display=swap');

body {
  background-image: url("../img/wallpaper-688038.png");
  height: 100vh;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  overflow: hidden;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

canvas { 
  position: absolute; 
  /* width: 360px; 
  height: 640px;  */
  left: 50%; 
  top: 50%; 
  margin-left: -250px; /* This is half the width */ 
  margin-top: -450px; /* This is half the height */ 
  border: rgb(114, 12, 12, 0.05) 40px solid;
  border-radius: 15px;  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid {
  display: flex;
  font-family: Inconsolata;
  /* text-align: center; */
  position: absolute; 
  width: 575px; 
  height: 125px; 
  left: 50%; 
  top: 50%; 
  margin-left: -250px; /* This is half the width */ 
  margin-top: -700px; /* This is half the height */ 
  /* border: rgb(114, 12, 12) 4px solid; */
  border-radius: 10px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

h1 {
  display: flexbox;
  font-size: 65px;
  text-align:center;
  width: 575px; 
  height: 125px; 
  margin-top: 0px;
  /* background-color: yellow; */
  
}

h2 {
  display: flexbox;
  font-size: 20px;
  text-align: center;
  width: 100%; 
  height: 100%;
  margin-left: 25px;
  margin-top: 100px;
  overflow: hidden;
  /* background-color: yellow; */
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.score{
  font-family: 'Bungee Shade', cursive;
  /* display: flexbox; */
  /* margin-right: 1500px; */
  margin-top: 5px;
  margin-left: 70px;
  /* margin-bottom: 400px; */
  font-size: 40px;
  /* ----> max-width:fit-content; */
  /* ----> font-family: Inconsolata; */
  font-weight: bold;
  /* border:rgb(114, 12, 12, 0.4) 3px solid; */
  /* max-width: 100%; */
  /* max-height: 70vh; */
  padding: 20px;
  border-radius: 10px;
  /* background: rgba(228, 212, 212, 0.3); */
  
}





